.headerContainer {
  background-color: white;
  border-bottom: 1px solid #446084;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #350846; 
  text-transform: lowercase;
}

.searchWrapper {
  display: flex;
  flex: 1;
  max-width: 600px;
  margin: 0 2rem;
  border: 1px solid #3b3a6e;
  border-radius: 8px;
  overflow: hidden;
}

.searchInput {
  flex: 1;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
}

.searchButton {
  background-color: #3b3a6e;
  color: rgb(59, 42, 42);
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
}

.categoryNav {
  display:flex;
  gap: 2rem;
  font-size: 14px;
  color: #4b5563;
  list-style: none;
  justify-content: center;
}

.searchInput::placeholder {
  color: #504a4a; 
  opacity: 1;      
}